doctype html
html(lang="pt-BR")
  head
    meta(charset="UTF-8")
    title Blog da Chris!
    link(rel="stylesheet" href="styles.css")

  body
    div#nav
      | Barra de navegação

    div.espaco
    h1 Título

    div.anuncio
      h2 Título do primeiro parágrafo
      p Primeiro parágrafo. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.

    div.anuncio
      //- Lembrete: mudar a cor do título
      h2 Título do segundo parágrafo
      p Segundo parágrafo.

    div.anuncio
      h2 Título do terceiro parágrafo
      p Terceiro parágrafo.
