
h1 {
  color: #177ab0;
}

p { 
  text-indent: 30px;
  font-family: 'robotolight';
}

div.espaco {
  margin-top:50px;
}

div#nav {
  position: fixed;
  top: 5px;
  border: 1px solid red;
  background: gray;
  width: 100%;
}

div.anuncio {
  border: 1px solid red;
  margin: 2px;
}
